:root {
  --heliotrope: #e866ec;
  --darkblue: #13293d;
  --seagreen: seagreen;
  --white: white;
  --eggshell: #f0ead6;
}

* {
  color: var(--darkblue);
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  background-color: var(--seagreen);
  padding: 40px;
}

header h1 {
  color: var(--white);
  display: inline-block;
  font-size: 48px;
}

nav {
  float: right;
  font-size: 25px;
  padding-top: 20px;
  margin-right: 20px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 25px;
}

nav a {
  color: var(--white);
  text-decoration: none;
}

.banner {
  padding: 75px;
  background-image: url("../images/tropical-background.jpeg");
  background-size: cover;
  background-position: top;
}

.banner h1 {
  font-size: 55px;
  text-align: center;
}

.banner h2 {
  font-size: 30px;
  text-align: center;
}

main {
  background-color: var(--eggshell);
  padding: 50px;
}

main h1 {
  font-size: 35px;
}

main h1::after {
  content: " | ";
}

.about-me {
  display: flex;
  flex-wrap: wrap;
}

.about-me p {
  padding-left: 30px;
  width: 802px;
}

img {
  border-style: solid;
  border-width: 4px;
  border-color: var(--seagreen);
}

.main-work {
  display: flex;
  flex-wrap: wrap;
}

.main-work img {
  width: 1050px;
  margin: 8px -7px 0px -4px;
}

.other-work {
  display: flex;
  flex-wrap: wrap;
  padding-left: 193px;
}
.other-work img {
  width: 509px;
  margin: -28px;
  margin-bottom: -4px;
}

.contact-me {
  display: flex;
  flex-direction: row;
}

.contact-me ul {
  list-style-type: none;
  margin-top: 30px;
  margin-left: 170px;
}

.contact-me ul li {
  font-size: 24px;
  display: inline;
  margin: 30px;
}

.card a img:hover{
  box-shadow: inset 0px 0px 8px var(--heliotrope), 0 0 15px var(--heliotrope);
}

@media screen and (min-width: 1800px) {
  .about-me p {
    width: 1096px;
  }

  .main-work img {
    width: 1347px;
  }

  .other-work img {
    width: 658px
  }

  .contact-me ul li {
    margin: 80px;
  }
}
